<div class="product-cards">
<% if @purchase_requests.any? { |request| request.status == "pending" && request.user == current_user } %>
  <h2>My Pending Requests</h2>
<% end %>
<% @purchase_requests.each do |request| %>
  <% if request.status == "pending" && request.user == current_user %>
    <div class="product-card">
      <div class="product-photo">
        <% if request.ganja.photo.attached? %>
          <%= cl_image_tag(request.ganja.photo.key, crop: :fill, width: 400, height: 270) %>
        <% end %>
      </div>
      <div class="product-details">
        <div class="product-details1">
          <p>Name: <%= request.ganja.name %></p>
          <p>Strain: <%= request.ganja.strain %></p>
          <p>Type: <%= request.ganja.variety %></p>
        </div>
        <div class="product-details2">
          <p>Price: $<%= request.ganja.unit_price %></p>
          <p><%= request.ganja.user.email %> </p>
        </div>
      </div>
    <div>
    </div>
  </div>
  <% end %>
<% end %>
<% if @purchase_requests.any? { |request| request.status == "accepted" && request.user == current_user } %>
  <h2>Requests Accepted</h2>
<% end %>
<% @purchase_requests.each do |request| %>
  <% if request.status == "accepted" && request.user == current_user %>
    <div class="product-card">
      <div class="product-photo">
        <% if request.ganja.photo.attached? %>
          <%= cl_image_tag(request.ganja.photo.key, crop: :fill, width: 400, height: 270) %>
        <% end %>
      </div>
      <div class="product-details">
        <div class="product-details1">
          <p>Name: <%= request.ganja.name %></p>
          <p>Strain: <%= request.ganja.strain %></p>
          <p>Type: <%= request.ganja.variety %></p>
        </div>
        <div class="product-details2">
          <p>Price: $<%= request.ganja.unit_price %></p>
          <p><%= request.ganja.user.email %> </p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<% if @purchase_requests.any? { |request| request.status == "declined" && request.user == current_user } %>
  <h2>Request Declined</h2>
<% end %>
<% @purchase_requests.each do |request| %>
  <% if request.status == "declined" && request.user == current_user %>
    <div class="product-card">
      <div class="product-photo">
        <% if request.ganja.photo.attached? %>
          <%= cl_image_tag(request.ganja.photo.key, crop: :fill, width: 400, height: 270) %>
        <% end %>
      </div>
      <div class="product-details">
        <div class="product-details1">
          <p>Name: <%= request.ganja.name %></p>
          <p>Strain: <%= request.ganja.strain %></p>
          <p>Type: <%= request.ganja.variety %></p>s
        </div>
        <div class="product-details2">
          <p>Price: $<%= request.ganja.unit_price %></p>
          <p><%= request.ganja.user.email %></p>
        </div>
      </div>
    <div>
    </div>
  </div>
  <% end %>
<% end %>
</div>
