<div class=“product-cards home”>
  <div class=“seller-options”>
  <% if @purchase_requests.any? { |request| request.status == “pending” && request.ganja.user == current_user } %>
    <h2>Pending Your Approval</h2>
  <% end %>
  <% @purchase_requests.each do |request| %>
    <% if request.status == “pending” && request.ganja.user == current_user %>
      <div class=“product-card” data-toggle=“modal” data-target=“#modal-<%= request.id %>“>
        <div class=“product-details”>
          <div class=“product-details1">
            <div class=“product-p”>
              <p>User: <%= request.user.first_name %></p>
              <p>Pickup Date: <%= request.pickup_time %></p>
              <p>Location: <%= request.ganja.pickup_local %></p>
            </div>
            <div>
              <p class=“bold”>Price: $<%= request.ganja.unit_price %></p>
            </div>
          </div>
          <div class=“product-details2”>
            <% if request.ganja.photo.attached? %>
              <%= cl_image_tag(request.ganja.photo.key, crop: :fill, height: 100, class: “product-img”) %>
            <% end %>
          </div>
        </div>
      <div>
      </div>
    </div>
    <div class=“modal fade” id=“modal-<%= request.id %>” tabindex=“-1” aria-labelledby=“exampleModalLabel” aria-hidden=“true”>
        <div class=“modal-dialog”>
          <div class=“modal-content”>
            <div class=“modal-header”>
              <h5 class=“modal-title” id=“exampleModalLabel”><%= request.ganja.name %></h5>
            </div>
            <div class=“modal-body”>
              <% if request.ganja.photo.attached? %>
                <%= cl_image_tag(request.ganja.photo.key, crop: :fill, width: 380, height: 200) %>
              <% end %>
              <div class=“modal-content”>
                <p>Strain: <%= request.ganja.strain %></p>
                <p>Description: <%= request.ganja.strain %></p>
                <p>Pickup Date: <%= request.pickup_time %></p>
                <p>Location: <%= request.ganja.pickup_local %> </p>
                <p>User: <%= request.user.first_name %></p>
                <p class=“bold”>Price: $<%= request.ganja.unit_price %></p>
              </div>
            </div>
            <div class=“modal-footer”>
              <button type=“button” class=“btn btn-secondary” data-dismiss=“modal”>Close</button>
              <div>
                <%= link_to “Message”, user_show_messages_path(request.user) %>
                <%= link_to “Decline”, purchase_request_decline_path(request), method: :patch %>
                <%= link_to “Accept”, purchase_request_accept_path(request), method: :patch %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if @ganjas %>
    <h2 class=“header-text”>My Available Ganja</h2>
    <div class=“create”>
      <%= link_to “Create”,  new_ganja_path, class: ‘text-primary’ %>
    </div>
    <% @ganjas.each do |ganja| %>
      <div class=“product-card” data-toggle=“modal” data-target=“#modal-<%= ganja.id %>“>
        <div class=“product-details”>
          <div class=“product-details1">
            <div class=“product-p”>
              <p>Name: <%= ganja.name %></p>
              <p>Strain: <%= ganja.strain %></p>
              <p>Location: <%= ganja.pickup_local %></p>
            </div>
            <div>
              <p class=“bold”>Price: $<%= ganja.unit_price %></p>
            </div>
          </div>
          <div class=“product-details2”>
            <% if ganja.photo.attached? %>
              <%= cl_image_tag(ganja.photo.key, crop: :fill, height: 100, class: “product-img”) %>
            <% end %>
          </div>
        </div>
      </div>
      <div class=“modal fade” id=“modal-<%= ganja.id %>” tabindex=“-1” aria-labelledby=“exampleModalLabel” aria-hidden=“true”>
        <div class=“modal-dialog”>
          <div class=“modal-content”>
            <div class=“modal-header”>
              <h5 class=“modal-title” id=“exampleModalLabel”><%= ganja.name %></h5>
            </div>
            <div class=“modal-body”>
              <% if ganja.photo.attached? %>
                <%= cl_image_tag(ganja.photo.key, crop: :fill, width: 380, height: 200) %>
              <% end %>
              <div class=“modal-content”>
                <p>Strain: <%= ganja.strain %></p>
                <p>Description: <%= ganja.strain %></p>
                <p>Location: <%= ganja.pickup_local %> </p>
                <p class=“bold”>Price: $<%= ganja.unit_price %></p>
              </div>
            </div>
            <div class=“modal-footer”>
              <div>
              </div>
              <button type=“button” class=“btn btn-secondary” data-dismiss=“modal”>Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if @purchase_requests.any? { |request| request.status == “accepted” && request.ganja.user == current_user } %>
    <h2 class=“header-text”>Deals You’ve Accepted</h2>
  <% end %>
  <% @purchase_requests.each do |request| %>
    <% if request.status == “accepted” && request.ganja.user == current_user %>
      <div class=“product-card” data-toggle=“modal” data-target=“#modal-<%= request.id %>“>
        <div class=“product-details”>
          <div class=“product-details1">
            <div class=“product-p”>
              <p>User: <%= request.user.first_name %></p>
              <p>Pickup Date: <%= request.pickup_time %></p>
              <p>Location: <%= request.ganja.pickup_local %></p>
            </div>
            <div>
              <p class=“bold”>Price: $<%= request.ganja.unit_price %></p>
            </div>
          </div>
          <div class=“product-details2”>
            <% if request.ganja.photo.attached? %>
              <%= cl_image_tag(request.ganja.photo.key, crop: :fill, height: 100, class: “product-img”) %>
            <% end %>
          </div>
        </div>
      <div>
      </div>
    </div>
    <div class=“modal fade” id=“modal-<%= request.id %>” tabindex=“-1” aria-labelledby=“exampleModalLabel” aria-hidden=“true”>
        <div class=“modal-dialog”>
          <div class=“modal-content”>
            <div class=“modal-header”>
              <h5 class=“modal-title” id=“exampleModalLabel”><%= request.ganja.name %></h5>
            </div>
            <div class=“modal-body”>
              <% if request.ganja.photo.attached? %>
                <%= cl_image_tag(request.ganja.photo.key, crop: :fill, width: 380, height: 200) %>
              <% end %>
              <div class=“modal-content”>
                <p>Strain: <%= request.ganja.strain %></p>
                <p>Description: <%= request.ganja.strain %></p>
                <p>Pickup Date: <%= request.pickup_time %></p>
                <p>Location: <%= request.ganja.pickup_local %> </p>
                <p>User: <%= request.user.first_name %></p>
                <p class=“bold”>Price: $<%= request.ganja.unit_price %></p>
              </div>
            </div>
            <div class=“modal-footer”>
              <div>
                <%= link_to “Message”, user_show_messages_path(request.user) %>
              </div>
              <button type=“button” class=“btn btn-secondary” data-dismiss=“modal”>Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if @purchase_requests.any? { |request| request.status == “declined” && request.ganja.user == current_user } %>
    <h2 class=“header-text”>Deals You’ve Declined</h2>
  <% end %>
  <% @purchase_requests.each do |request| %>
    <% if request.status == “declined” && request.ganja.user == current_user %>
      <div class=“product-card” data-toggle=“modal” data-target=“#modal-<%= request.id %>“>
        <div class=“product-details”>
          <div class=“product-details1">
            <div class=“product-p”>
              <p>User: <%= request.user.first_name %></p>
              <p>Strain: <%= request.ganja.strain %></p>
              <p>Location: <%= request.ganja.pickup_local %></p>
            </div>
            <div>
              <p class=“bold”>Price: $<%= request.ganja.unit_price %></p>
            </div>
          </div>
          <div class=“product-details2”>
            <% if request.ganja.photo.attached? %>
              <%= cl_image_tag(request.ganja.photo.key, crop: :fill, height: 100, class: “product-img”) %>
            <% end %>
          </div>
        </div>
      <div>
      </div>
    </div>
    <div class=“modal fade” id=“modal-<%= request.id %>” tabindex=“-1” aria-labelledby=“exampleModalLabel” aria-hidden=“true”>
        <div class=“modal-dialog”>
          <div class=“modal-content”>
            <div class=“modal-header”>
              <h5 class=“modal-title” id=“exampleModalLabel”><%= request.ganja.name %></h5>
            </div>
            <div class=“modal-body”>
              <% if request.ganja.photo.attached? %>
                <%= cl_image_tag(request.ganja.photo.key, crop: :fill, width: 380, height: 200) %>
              <% end %>
              <div class=“modal-content”>
                <p>Strain: <%= request.ganja.strain %></p>
                <p>Description: <%= request.ganja.strain %></p>
                <p>Location: <%= request.ganja.pickup_local %> </p>
                <p>User: <%= request.user.first_name %></p>
                <p class=“bold”>Price: $<%= request.ganja.unit_price %></p>
              </div>
            </div>
            <div class=“modal-footer”>
              <div>
                <%= link_to “Message”, user_show_messages_path(request.user) %>
              </div>
              <button type=“button” class=“btn btn-secondary” data-dismiss=“modal”>Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
