<% if @ganjas %>
  <h2>My Available Ganja</h2>
  <%= link_to "Create",  new_ganja_path, class: 'text-primary' %>
  <% @ganjas.each do |ganja| %>
    <div class="product-card">
      <div class="product-details">
        <p>Name: <%= ganja.name %></p>
        <p>Strain: <%= ganja.strain %></p>
        <p>Price: $<%= ganja.unit_price %></p>
        <p>Pickup Location: <%= ganja.pickup_local %>
      </div>
    <div>
      <% if ganja.photo.attached? %>
        <%= cl_image_tag(ganja.photo.key, width: 70, height: 60, crop: :fill) %>
      <% end %>
      <%= link_to "Edit",  edit_ganja_path(ganja), class: 'text-warning' %>
    </div>
  <% end %>
<% end %>

<div class="seller-options">
<% if @purchase_requests.any? { |request| request.status == "pending" && request.ganja.user == current_user } %>
  <h2>Pending Your Approval</h2>
<% end %>
<% @purchase_requests.each do |request| %>
  <% if request.status == "pending" && request.ganja.user == current_user %>
    <div class="product-card">
      <div>
        <p>Name: <%= request.ganja.name %></p>
        <p>Strain: <%= request.ganja.strain %></p>
        <p>Price: $<%= request.ganja.unit_price %></p>
        <p>Pickup Location: <%= request.ganja.pickup_local %>
      </div>
    <div>
      <%= link_to "Accept", purchase_request_accept_path(request), method: :patch %>
      <%= link_to "Decline", purchase_request_decline_path(request), method: :patch %>
    </div>
  </div>
  <% end %>
<% end %>
<% if @purchase_requests.any? { |request| request.status == "accepted" && request.ganja.user == current_user } %>
  <h2>Deals You've Accepted</h2>
<% end %>
<% @purchase_requests.each do |request| %>
  <% if request.status == "accepted" && request.ganja.user == current_user %>
    <div class="product-card">
      <div>
        <p>Name: <%= request.ganja.name %></p>
        <p>Strain: <%= request.ganja.strain %></p>
        <p>Price: $<%= request.ganja.unit_price %></p>
        <p>Pickup Location: <%= request.ganja.pickup_local %>
      </div>
    <div>
    </div>
  </div>
  <% end %>
<% end %>
<% if @purchase_requests.any? { |request| request.status == "declined" && request.ganja.user == current_user } %>
  <h2>Deals You've Declined</h2>
<% end %>
<% @purchase_requests.each do |request| %>
  <% if request.status == "declined" && request.ganja.user == current_user %>
    <div class="product-card">
      <div>
        <p>Name: <%= request.ganja.name %></p>
        <p>Strain: <%= request.ganja.strain %></p>
        <p>Price: $<%= request.ganja.unit_price %></p>
        <p>Pickup Location: <%= request.ganja.pickup_local %>
      </div>
    <div>
    </div>
  </div>
  <% end %>
<% end %>
</div>
