<div class="home">
<div>
<p class="body-text mt-5 ml-2">Can’t focus?</p>
<p class="body-text ml-2">Need to set your mind right?</p>
<p class="body-text ml-2">Just reach out and get Highly Concentrated!</p>
<!--   <div>
        <%= image_tag "Saly-17.png", height: '113px', width: '200px' %>
  </div> -->
</div>

  <div class="container mt-3 text-center">
    <div>
      <%= link_to 'Flowers', ganja_flower_path, class: "btn-flower" %>
    </div>
    <br />
    <div>
      <%= link_to 'Edibles', ganja_edible_path, class: "btn-edible" %>
    </div>
  </div>
  <div id="map"
     style="width: 75%; height: 450px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
