<% ganjas.each do |ganja| %>
  <div class="product-card">
    <div>
      <p>Name: <%= ganja.name %></p>
      <p>Strain: <%= ganja.strain %></p>
      <p>Price: $<%= ganja.unit_price %></p>
      <p>Description: <%= ganja.strain %></p>
    </div>
    <div>
      <% if ganja.photo.attached? %>
        <%= cl_image_tag(ganja.photo.id, width: 400, height: 300, crop: :fill) %>
      <% end %>
      <%= link_to "Request", new_ganja_purchase_request_path(ganja) %>
    </div>
  </div>
<% end %>
